@charset "UTF-8";
body {
    background-color: #717276;
}
.box1 {
	width: 50px;
	height: 300px;
	border: 3px solid #c3252f;
	margin-left: 10px;
	margin-top: 20px;
	background-color: #202020;
	padding: 10px;	
}
	
.box2 {
	width: 50px;
	height: 300px;
	border: 3px solid #272c7e;
	margin-left: 10px;
	margin-top: 20px;
	background-color: #202020;
	padding: 10px;
}

.box3 {
    width: 50px;
    height: 300px;
    border: 3px solid #fdd838;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #202020;
	padding: 10px;
	
}

.textbox{
    color: #FFFFFF;	
	margin-top: 50px;
}

.colcalendar{ flex: 0 1 calc(25% - 10px); 
  margin: 0 5px; 
  
}
@media (min-width: 768px) and (max-width: 991px) {
  .colcalendar {
    flex-basis: calc(50% - 10px); 
  }
}

@media (max-width: 767px) {
  .colcalendar {
    flex-basis: 100%; 
  }
}
.colcalendar{
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.headertextevent1{
font-family: "delittle-chromatic", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
}

.headertextevent2{
	font-family: "rockwell", sans-serif;
font-weight: 400;
font-style: normal;
	font-size:30px;
}

.prtext{
font-family: "rockwell", sans-serif;
font-weight: 400;
font-style: normal;
}

.buttonevent{
	background-color:#717276;
	color: #202020;
}
.btnnav{
    border-width: thin;
    border-color: #C3252F;
    color: #C3252F;
}

.navbar{
	background-color: #202020
}