/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	background-image: url("https://images.unsplash.com/photo-1666625241661-4d31a5a2bbbb?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-color: black;
	background-size: cover;
	
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
body {
  background-color: #212121;
  color: #4db1bc;
  margin: 0;
  display: grid;
  align-items: center;
	justify-items: center;}  

body h1 {
	color: #000000;
	margin: 0;
	padding-bottom: 115px;
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	font-family: "Teko", sans-serif;
	font-size: 130px;
	text-transform: uppercase;
	animation: red-glow 2s ease-in-out infinite alternate;
	text-align: center;
	padding-top: 134px;
	padding-right: 134px;
	padding-left: 134px;
}
body h2{
	margin-right: -150px;
	margin-left: -150px;
	margin-bottom: -150px;
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	font-family: "Teko", sans-serif;
	font-size: 75px;
	text-transform: uppercase;
	animation: blue-glow 2s ease-in-out infinite alternate;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: -150px;
	color: #000000;
}
body a {
	font-family: "Teko", sans-serif;
	grid-column: 1;
	grid-row: 1;
	align-self: end;
	justify-self: center;
	padding-bottom: 1rem;
	color: #510809;
}
@keyframes red-glow {
  from {
    text-shadow: 0 0 20px #9c0d00;
  }
  to {
    text-shadow: 0 0 30px #9c0d00, 0 0 10px #9c0d00;
  }
}
@keyframes blue-glow {
  from {
    text-shadow: 0 0 20px #0544ff;
  }
  to {
    text-shadow: 0 0 30px #0544ff, 0 0 10px #0544ff;
  }
}