@charset "UTF-8";
.btnnav{
    border-width: thin;
    border-color: #C3252F;
    color: #C3252F;
}

	
.mottotext{
    font-size: 20px;
}

#more {display: none;}

.card-wrapper{
	display: flex;
	
}

.cardslide{
	margin: 0 .5em;
	width: calc(100%/3);
}

.button-overlay {
  position: relative;
  display: inline-block;
}

.button-overlay button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background-color: #157f87f7;
  color: #fff;
  border-radius: 5px;
}
.button-overlay button:hover {
  background-color: #1badb8f7;
}