@charset "UTF-8";
.btnnav{
    border-width: thin;
    border-color: #C3252F;
    color: #C3252F;
}


.colornav{
    
}
	
.videotitle{
    color: #C3252F;
    font-family: DeLittleChromatic-Regular;
    font-size: 100px;
	
		}
.mottotext{
    font-size: 20px;
}

#more {display: none;}

.valuebox{
	
	
}

