@charset "UTF-8";
@import url("CSS Floor Calendar.css");
.btnnav{
    border-width: thin;
    border-color: #C3252F;
    color: #C3252F;
}

.navbar{
	background-color: #202020
}

#more {display: none;}

.card-wrapper{
	display: flex;
	
}

.cardslide{
	margin: 0 .5em;
	width: calc(100%/3);
}

.button-overlay {
  position: relative;
  display: inline-block;
}

.button-overlay button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background-color: #c3252f;
  color: #202020;
  border-radius: 5px;
}
.button-overlay button:hover {
  background-color: #272c7e;
}

.navbarlogo {
    margin-left: -12px;	
}

.values{
    background-color: #C3252F;	
	
}

.buttonvalues{
    background-color: #272C7E;
    color: #717276;    
}

.textvalues{
	text-color: #717276;
	
}

.headertext{
	font-family: "delittle-chromatic", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 60px;
	color: #272C7E;	
}
.prtexthome{
	font-family: "rockwell", sans-serif;
font-weight: 400;
font-style: normal;
	
}

.titlecards{
	font-family: "delittle-chromatic", sans-serif;
font-weight: 400;
font-style: normal;
}

.footer{
    background-color: #717276;
    color: #202020;	
}

.eventcard{
    background-color: #272c7e;
    border: 0px solid #272C7E;
}
